.main-container{
    justify-content: center;
    display: flex;
}

form{
    flex: 40%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

form input{
    margin-bottom: 16px;
    height: 40px;
}


